*{
    font-family: 'Montserrat', sans-serif;
}


/*NavBar*/
.navbar{
    background-color: #2c3e50;
}

.navbar input{
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #fff;
}

.navbar input:hover{
    background-color: #fff;
    color: #2c3e50;
}

.navbar input:focus~label{
    color: #fff;
 
}


/* Carousel */
#carousel{
    margin-top: 70px;
}

.carousel-title h2,p{
    color: #fff;
}

.carousel-title{
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
    background-color: #2c3e50;
    width: 600px;
}

/*Modal do carousel*/
.modal-title{
  color: #198754;
  
}

.modal-body-title{
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 600;
}

.modal-body-content{
    border-bottom: 1px solid #ccc;
    font-weight: 100;
    margin-bottom: 20px;
}

.modal-body p{
   color: #2c3e50;
}

.modal-icons{
    border-bottom: 1px solid #ccc;
    font-weight: 100;
    margin-bottom: 20px;
}
.modal-icons p{
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 600;
}

.modal-icons i{
    font-size: 1.4rem;
    color: #198754;
}

.modal-title-contact{
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 600;
}


/* Cards */
#card{
    background-color: #ccc;
    text-align: center;
}

.card{
    margin: 5px 4px 20px 4px;
}

.card-body, h5{
    color: #198754;
    font-weight: 700;
}

.card-body, h6{
    color: #2c3e50;
    font-weight: 700;
}

.card-text{
    color: #2c3e50;
    font-weight: 700;
}

/*Modal do card*/
.modal-img{
    margin: 0 auto;
}

.modal-img img{
    width: auto;
}

.modal-card .modal-body-title{
    font-size: 1.3rem;
    color: #2c3e50;
    font-weight: 700;
}

.modal-card .modal-body-content{
    font-size: 1rem;
    color: #2c3e50;
    font-weight: 700;
}

/*Medias*/
@media (min-width: 576px) {
    #card{
        display: flex;
    }
}


@media (min-width: 768px) {
    
}


@media (min-width: 992px) {
   /*botão navbar*/
   .btn_contato{
    
      margin-right: auto;
   }

}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}

